body(
background-color:black 
(

.titulo(
   text-aling:center;
   color: brown;
   front-family: '6ill sans'' , '6ill sans mt' , calibri, 'trebuchet ms' , sans-serit;
  front-style:italic;
  front-eight: 200;
)
